src/test/resources/datasets/test.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset (
	Users*,
	ForumThread*,
	Comment*
)>

<!ELEMENT Users EMPTY>
<!ATTLIST Users
	id CDATA #IMPLIED
	username CDATA #REQUIRED
	email CDATA #REQUIRED
	description CDATA #REQUIRED
	imageName CDATA #IMPLIED
>

<!ELEMENT ForumThread EMPTY>
<!ATTLIST ForumThread
	id CDATA #IMPLIED
	name CDATA #REQUIRED
	category CDATA #REQUIRED
	createdOn CDATA #REQUIRED
	lastUpdate CDATA #IMPLIED
	author_id CDATA #REQUIRED
>

<!ELEMENT Comment EMPTY>
<!ATTLIST Comment
	id CDATA #IMPLIED
	message CDATA #REQUIRED
	thread_id CDATA #REQUIRED
	comment_author_id CDATA #REQUIRED
>
